.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  min-height: 80vh;
  border: 1px solid #e0e5eb;
  border-radius: 12px;
}

.meters-list {
  overflow: auto;
  width: 100%;
  height: 50vh;
  border-bottom: 1px solid #e0e5eb;
  flex-grow: 1;
}
