.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: calc(100% - 32px);
  border: 1px solid #e0e5eb;
  border-radius: 12px;
}

.meters-list {
  overflow: auto;
  width: 100%;
  border-bottom: 1px solid #e0e5eb;
}
