/* body {
  width: 100vw;
} */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(94, 102, 116, 0.5);
  border-radius: 4px;
}
